@model List<ProcesoShneider.Models.LightMeter>

<h4>Light Meter</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Serial Number
        </th>
        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th></th>
    </tr>

@foreach (ProcesoShneider.Models.LightMeter item in Model) {
    <tr>
        <td>
            @(item.Serial_Number)
        </td>
        <td>
            @(item.Brand)
        </td>
        <td>
            @(item.Model)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "LightMeterDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
